{% extends 'principal/base.html' %}

{% load static %}

{% block content %}

<div class="container ">
  <div class="card">
    <h3 class="card-header ">{{ project.name }} <span class="pull-right h5">{{ project.creation_date }}</span></h3>
    <!-- Zona del mensaje error -->
    {% if messages %}
    <div class="col-md-8 offset-md-2 mt-3">
      {% for message in messages %} {% if message.tags %}
      <div class="alert alert-{{ message.tags }} alert-dismissible" id="modification-{{ message.tags }}">
        {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button> {{ message|safe }}

        <!-- Listamos los clientes cuyas influencias no han sido establecidas -->
        {% if bad_influencies %}
          <h5>The following clients's influence wasn't set:</h5>
          {% for bad_influence in bad_influencies %}
            <p>{{ bad_influence }}</p>
          {% endfor %}
        {% endif %}
        <!-- Listamos las valoraciones que no han sido establecidas -->
        {% if bad_assesments %}
          <h5>The following assessments wasn't set:</h5>
          {% for bad_assesment in bad_assesments %}
            <p>{{ bad_assesment }}</p>
          {% endfor %}
        {% endif %}

      </div>
      {% endfor %}
    </div>
    {% endif %}
    <!-- Fin Zona del mensaje error -->
    <ul class="list-group">
      <li class="list-group-item p-0 border-0">
        <div class="card border-0 w-100 align-self-center">
          <h5 class="card-header "><span class="align-self-center">Last solution: A total of {{ totalEffort }} units of effort and {{ project.productivity }} units of productivity and {{ project.satisfaction }} satisfaction and the next contribution: {{ project.contribution }}
          </span></h5>
        <form id="clients-form" action="{{ prefix }}" method="post" role="form">
          {% csrf_token %}
          {% for requirement in requirements %}

          <div class="form-check ml-3 m-2">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="requirement-{{ requirement.id }}" value="{{ requirement.id }}" {% if requirement.state %}disabled{% endif %} {% if requirement.last_released %}checked{% endif %}>
              <a href="/requirements/edit/requirement-{{ requirement.id }}/">{{ requirement.name }}</a>- {{ requirement.description }} with effort: {{ requirement.effort }} and total a productivity of {{ requirement.productivity }}
            </label>
          </div>
          {% endfor %}

          {% if field.errors %}
          <div class="alert alert-dismissible alert-warning" id="registration_error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>

            {{ field.errors }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
          {% endif %}
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 offset-sm-5">
                <input type="submit" name="update-submit" id="update-submit" tabindex="4" class="form-control btn btn-success" value="Submit">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
             <div class="col-sm-2 offset-sm-5">
                <a href="javascript:history.back()" class="form-control btn btn-danger" role="button" aria-pressed="true">Cancel</a>
              </div>
            </div>
          </div>
        </form>
        </div>
      </li>
    </ul>
  </div>
</div>

{% endblock content %}

{% block js %}

{% endblock js %}
