{% extends 'principal/base.html' %}
{% load static %}
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Planificator 3000</h1>
    <p> Planificator 3000 es una herramienta útil para la planificacion de requisitos. Todo desarrollador soñaria con una herramienta así. Fácil y sencillo de usar, es muy intuitiva. </p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/panteleevnikita/borderless_lotus_press" role="button">Learn more &raquo;</a></p>
  </div>
</div>


<div class="container ">
    <div class="card">
      <h3 class="card-header ">Highlighted projects</h3>
  <!-- Example row of columns -->
  <div class="row highlight">
    <div class="col-md-4">
      <h2>Project 1</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Project 2</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Long heading project 3</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
</div>


{% endblock content %}
