{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <title>Planificator 3000</title>


    {% block precss %}

    {% endblock %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "images/logo.png" %}">
    <link rel="stylesheet" href="{% static "css/arreglos.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
    {% block css %}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.js" %}" type="text/javascript" charset="utf-8" async defer></script>
  </head>

  <body>
    <div class="page-wrap">
      <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/projects"><i class="fa fa-list" aria-hidden="true"></i> Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team"><i class="fa fa-users" aria-hidden="true"></i>About us</a>
            </li>
            {% if user.is_staff %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-wrench" aria-hidden="true"></i> Manage page</a>
              <div class="dropdown-menu inverse-dropdown" aria-labelledby="dropdown02">
                <a class="dropdown-item" href="/auth/users/page-1/">Manage planificators</a>
                <a class="dropdown-item" href="/othermanageoptions">TBD</a>
              </div>
            </li>
            {% endif %}
          </ul>
          <div class="navbar-right" id="NavbarLogin">
              <ul class="navbar-nav mr-auto">
                  {% if user.is_authenticated %}
                    <li class="nav-item" ><a id="bienvenida" class="nav-link caret" href="/auth/profile/">Bienvenido, {{ user.username }}.</a></li> <li><a class="nav-link" href="/auth/logout/">Salir</a></li>
                  {% else %}<li class="nav-item"><a class="nav-link" href="/auth/login/">Entrar/Registrarse</a></li>{% endif %}
                  </ul>
          </div>
        </div>
      </nav>

      {% block content %}

      {% endblock  %}
</div>
    <div class="footer">
        <footer>
            <p>&copy; Black Tea Sails {% now 'Y' %} <a href="https://github.com/BlackTeaSails"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></p>
        </footer>
        </div> <!-- /container -->
    </div>

    {% block js %}

    {% endblock %}

  </body>
</html>
